:root {
    --shade-1: #141414;
    --shade-2: #444444;
    --shade-3: #979797;
    --shade-4: #d6d6d6;
    --accent-color: #0A66E0;
    --accent-hover: #2B7FFF;
    --accent-active: #0041A8;
    --accent-disabled: #5A5F6A;
    --disabled-text: #8A8F98;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", system-ui;
    color: var(--shade-4);
}


body {
    height: 100vh;
    overflow: hidden;
}

#ola {
    color: var(--shade-4);
}

.introducao {
    z-index: 100;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--shade-1);
    display: grid;
    place-items: center;
    transition: 0.3s ease-in-out;
}

.introducao.fade {
    transform: translateY(-100%);
}

.introducao-main {
    transform: translateY(100%);
}

main {
    display: flex;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overflow-x: auto;
    scrollbar-width: none;
    position: relative;
    transition: 0.3s ease-in-out;
}
main::-webkit-scrollbar {
    display: none; 
}

.nav {
    z-index: 10;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    left: 50%;
    top: 90%;
    translate: -50% -50%;
}

.nav a {
    all: unset;
    cursor: pointer;
    display: inline-block;
    background-color: var(--accent-disabled);
    height: 7.5px;
    width: 7.5px;
    border-radius: 50px;
    margin: 0.25rem;
    transition: 0.3s ease-in-out;
}

.nav a.ativo {
    width: 15px;
    background-color: color-mix(in srgb, var(--accent-color), transparent 50%);
}

section {
    scroll-snap-align: center;
    flex: 0 0 auto;
    padding: 5rem;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: var(--shade-1);
}

section::after {
    content: '';
    position: absolute;
    background-color: var(--accent-color);
    height: 1px;
    width: 100%;
    top: 5%;
    left: 50%;
    translate: -50% -50%;
}

.inicio {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding-bottom: 10rem;
    position: relative;
    
    @media (min-width: 768px) {
        flex-direction: row;
    }
}

.inicio::before {
    content: '';
    display: none;
    position: absolute;
    background-color: var(--accent-color);
    width: 1px;
    height: 100%;
    left: 5%;
    top: 50%;
    translate: -50% -50%;

    @media (min-width: 768px) {
        display: block;
    }
}

.card {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 25px;
    border: 1px solid var(--accent-color);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
}

.text-intro {
    display: grid;
}

.text-intro h3 {
    font-weight: normal;
    line-height: 3rem;
}

#github {
    display: inline-block;
    background-color: var(--accent-color);
    mask-image: url(./assets/github-brands-solid-full.svg);
    mask-size: contain;
    width: 2rem;
    height: 2rem;
    transition: 0.6s ease-out;
}

#linkedin {
    display: inline-block;
    background-color: var(--accent-color);
    mask-image: url(./assets/square-linkedin-brands-solid-full.svg);
    mask-size: contain;
    width: 2rem;
    height: 2rem;
    transition: 0.7s ease-out;
}

#email {
    display: inline-block;
    background-color: var(--accent-color);
    mask-image: url(./assets/at-solid-full.svg);
    mask-size: contain;
    width: 2rem;
    height: 2rem;
    transition: 0.8s ease-out;
}

#github:hover,
#linkedin:hover,
#email:hover {
    background-color: var(--accent-hover);
}

#github:active,
#linkedin:active,
#email:active {
    background-color: var(--accent-active);
}

.picture {
    aspect-ratio: 1/1;
    height: 30vh;
    border-radius: 25px;
    object-fit: cover;
    object-position: center;
    
    @media (min-width: 768px) {
        height: 25vw;
    }
}


.fim {
    position: relative;
}

.fim::before {
    content: '';
    position: absolute;
    display: none;
    background-color: var(--accent-color);
    width: 1px;
    height: 100%;
    right: 5%;
    top: 50%;
    translate: -50% -50%;
        
    @media (min-width: 768px) {
        display: block;
    }
}

.highlight-text {
    font-weight: bold;
    color: var(--accent-color);
}

.autoShow {
    opacity: 0;
    transform: translateY(200px);
}

.showSlow {
    transition: 0.6s ease-out;
    opacity: 1;
    transform: translateY(0);
}

.showMedium {
    transition: 0.5s ease-out;
    opacity: 1;
    transform: translateY(0);
}

.showFast {
    transition: 0.4s ease-out;
    opacity: 1;
    transform: translateY(0);
}